<%- include("../includes/header") %>


<div class="container" style="min-height: 700px;">
    <h1>Info Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae facere ratione sed, debitis enim obcaecati quod cum in, exercitationem aperiam tempore est illo. Porro repellat explicabo, vitae animi saepe consequuntur!</p>
</div>

<%- include("../includes/footer") %>