<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <nav class="navbar bg-dark navbar-dark navbar-expand-sm">
            <div class="container">
                <a href="" class="navbar-brand">Flikart</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>