<%- include("../../includes/header"); %>
<div class="container" style="margin-top: 100px; min-height: 600px;">
    <div class="row">
        <div class="col-md-12">
            <h1>Add New Office Staff</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, in quos quod fugiat itaque minima architecto sint dolor culpa earum eaque molestias vero exercitationem expedita perspiciatis quibusdam nulla dolorem doloremque.</p>
        </div>
    </div>
</div>
<%- include("../../includes/footer"); %>