<%- include("../includes/header") %>
<div class="container" style="min-height: 700px;">
    <h1>Contact Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate modi placeat aliquid voluptas, dolore rem tempore quibusdam veniam animi suscipit quaerat architecto quidem deleniti doloremque tempora voluptatem repellat iste ullam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus voluptates harum numquam sequi fugiat labore iure, saepe quam maxime cum quae asperiores blanditiis voluptate architecto nostrum cumque facilis quas ipsa.</p>
</div>
<%- include("../includes/footer") %>