<%- include("../includes/header") %>
<div class="container" style="min-height: 700px;">
    <h1>Help Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nobis alias ipsam in sit ab perferendis, ea quisquam, possimus voluptate neque ratione sed ut esse minima odit ex! Qui, blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem unde repudiandae amet quas non rem pariatur est temporibus eos laboriosam, omnis fugit numquam. Itaque culpa, vitae unde hic non quam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet totam veniam ab fugiat libero rerum facere sit earum suscipit temporibus, eaque dolore? Necessitatibus quaerat pariatur fugiat ipsa aperiam delectus iusto? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus magnam culpa necessitatibus molestiae delectus? Necessitatibus delectus, omnis voluptate quisquam reprehenderit voluptatem enim accusantium sed dignissimos nihil numquam quam voluptas architecto?</p>
    <h3>This is Help Page</h3>
</div>
<%- include("../includes/footer") %>

        
